<div class="container">
    {{#if loggedIn}}
    <div class="post-section centerText">
        <div class="row">
            <h3>What's poppin?</h3>
        </div>

        <form class="new-post-form"> 
            <div class="row margin">
                    <input id="post_title" cols="30" rows="5"placeholder="Brand new whip, just hopped in"></input>
            </div>

            <div class="row margin">
                <textarea id="post_body" cols="30" rows="5"placeholder="I'm sorry"></textarea>
            </div>

            <div class="row margin">
                <button type='submit' class="btn">Post</button>
                <br>
            </div>
        </form>
{{/if}}
        <div class="post_area centerText">
            <h4> Posts</h4>
            <ol>
                {{#each posts as |post|}}
                <li class="post_section">
                    <div class="row">
                        <a href="/profile/{{post.user_id}}" class="post_username">{{post.username}}</a>
                    </div>

                    <div class="row">
                        <p class="post_title">{{post.title}}</p>
                    </div>

                    <div class="row">
                        <p class="post_body"> {{post.body}}</p>
                    </div>

                    <div class="row">
                        <a href="./post/{{post.id}}">View <span>{{post.comments.length }}</span> Comment(s)</a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<script src="/assets/js/postToFeed.js"></script>
