<div class='container'>
    <div class='row'>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class=" row prof-pic-section centerText">
                        <div class="centerText">
                            <h3>{{user.first_name}} {{user.last_name}}<h3>
                        </div>

                        <div>
                            <p>{{user.username}}</p>
                            <p id="id" style="display: none;">{{user.id}}</p>
                        </div>

                        <img class="profPic row" src="./assets/images/0V6A5256_1.jpg" alt=""></img>

                        <div class="paragraph">
                            <a class="smlbtn" href="">pics</a>
                            <a class="smlbtn" href="">vids</a>
                        </div>
                    </div>

                    <div class="row">
                        <form class="song-form">
                            <select class="post_section" name="song" id="song-selection">
                                <option value="null"></option>
                                <option value="who-let-the-dogs-out">Baha Men - Who Let The Dogs Out</option>
                                <option value="party-rock-anthem">LMFAO - Party Rock Anthem</option>
                            </select>
                            <button type="submit" class="btn">Submit Song</button>
                        </form>
                    </div>

                    <div class="row post_area">
                        <audio id="song">
                            <source src='/assets/audio/{{user.song}}.mp3' type="audio/mpeg">
                        </audio>
                        <br>
                        <div class="col-10">
                            <p>My Favorite Song</p>
                            <h3>{{user.song}}</h3>
                        </div>

                        <div class="col-1">
                            <button onclick="play()" class="btn"><i class="fas fa-play"></i></button>
                        </div>

                        <div class="col-1">
                            <button onclick="pause()" class="btn"><i class="fas fa-pause"></i></button>
                        </div>
                    </div>

                    <div class="table">
                        <div class="heading">
                            <h3>fdsf</h3>
                            <table>

                                <tr>
                                    <td>About Me</td>
                                    <td>{{user.about_me}}</td>

                                </tr>
                                <tr>
                                    <td>Interests</td>
                                    <td>{{user.interests}}</td>
                                </tr>
                            </table>
                        </div>
                        <a href="update">edit</a>
                    </div>
                   
                </div>

                <div class="col-8">
                    <form class="new-post-form">
                        <div class="post-section centerText">
                            <div class="row">
                                <h3>What's poppin?</h3>
                            </div>
                            <div class="row margin">
                                <input type="text" id="post_title" cols="30" rows="5" placeholder="Title"></input>
                            </div>
                            <div class="row margin">
                                <input type="text" id="post_body" cols="30" rows="5" placeholder="Tell Us"></input>
                            </div>

                            <div class="row margin">
                                <button type='submit' class="btn">Post</button>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="post_area centerText">
                        <h2> Posts</h2>
                        <ol>
                            {{#each user.posts as |post|}}
                            <li class="post_section">
                                <div class="row">
                                    <p class="post_title">{{post.title}}</p>
                                </div>

                                <div class="row">
                                    <p class="post_body"> {{post.body}}</p>
                                </div>

                                <div class="row">
                                    <a href="../post/{{post.id}}">View <span>{{post.comments.length }}</span>
                                        Comment(s)</a>
                                </div>

                                <button type="button" class='btn blue'
                                    onclick="window.location.href='../post/{{post.id}}';">Edit Post</button>
                            </li>
                            {{/each}}
                        </ol>
                    </div>




                </div>
            </div>


        </div>



    </div>
</div>

<script src="/assets/js/song.js"></script>
<script src="/assets/js/post.js"></script>
<script src="/assets/js/showText.js"></script>
<script src="/assets/js/update-profile.js"></script>