<div class='container'>
    <div class='row'>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class=" row prof-pic-section centerText">
                        <div class="centerText somethingElse">
                            <h3>{{user.first_name}} {{user.last_name}}<h3>
                        </div>

                        <div>
                            <p>{{user.username}}</p>
                            <p id="id" style="display: none;">{{user.id}}</p>
                        </div>
                        {{#if user.profile_image}}
                        <img class="profPic row" src="{{user.profile_image}}" alt=""></img>
                        {{else}}
                        <img class="profPic row" src="./assets/images/default.png" alt=""></img>
                        {{/if}}

                        <div class="paragraph">
<!-- Button trigger modal -->
<div class="paragraph">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Edit Profile Photo
    </button>

<!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Upload Your Profile Photo
        </div>
        <div class="modal-footer">
            <form action='/' method="POST" encType="multipart/form-data">
                <p>Select an image to set as your new profile photo</p>
                <input type='file' name='file' accept='image/*'/>
                <button type='submit' class='btn btn-secondary'>Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
        </div>
    </div>
    </div>
    </div>
    <!--Modal end-->
                        </div>
                    </div>



                    <div class="row post_area">
                        {{!-- <audio id="song">
                            <source src='/assets/audio/{{user.song}}.mp3' type="audio/mpeg">
                        </audio>
                        <br> --}}
                        <div class="col-10 centerText">
                            <p>My Favorite Song</p>
                        </div>

                        <div class="formHolder">
                            <form class="song-form">
                                <div class="row">
                                    <textarea id="youtube_link" placeholder="Enter your favorite song's youtube url"></textarea>
                                </div>
                                <div class="row">
                                    <button class="btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        {{#if user.song_title}}
                        <div class="row">
                            <h4>{{user.song_title}}</h4>
                            <iframe id = 'song' src="https://www.youtube.com/embed/{{user.song_link}}"></iframe>
                        </div>
                        {{/if}}
{{!-- 
                        <div class="row">
                            <div class="col-1">
                                <button onclick="play()" class="btn"><i class="fas fa-play"></i></button>
                            </div>

                            <div class="col-1">
                                <button onclick="pause()" class="btn"><i class="fas fa-pause"></i></button>
                            </div>
                        </div> --}}
                    </div>
                    <div class="card row table">
                        <div class="heading">
                            <h3>Contact {{user.username}}</h3>
                            <table class="tabllee">

                                <tr>
                                    <td class="contact">Email</td>
                                    <td class="contact"><a href="mailto:{{user.emaiL}}"> {{user.email}}</a>
                                </tr>
                            </table>
                        </div>

                    </div>
                    {{#if user.friend_requests}}
                    <div class="card row table">
                        <div class="heading">
                            {{#each user.friend_requests as |request|}}
                            {{#if request.friend}}
                            {{else}}
                            <div class="row">
                                <center>
                                <div class="col-10">
                                <p class="contact">{{request.first_name}} {{request.last_name}}: @{{request.username}}</p>
                                <p class="contact">Sent you a friend request</p>
                                <button class="btn" onclick="acceptRequest('{{request.sender_id}} {{request.id}}')">Accept</button>
                                <button class="btn" onclick="rejectRequest('{{request.id}}')">Reject</button>
                                </div>
                                </center>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    <div class="card row table">
                        <div class="heading">
                            <h3 class = "headingAgain centerText">{{user.username}}'s stuff</h3>
                            <table class="tabllee">

                               

                                <tr>
                                    <td>General</td>
                                    <td>{{user.general}}</td>
                                </tr>
                                <tr>
                                    <td>Who I'd like to meet</td>
                                    <td>{{user.meet}}</td>
                                </tr>
                                <tr>
                                    <td>Music</td>
                                    <td>{{user.music}}</td>
                                </tr>
                                <tr>
                                    <td>Tv</td>
                                    <td>{{user.tv}}</td>
                                </tr>
                                <tr>
                                    <td>Books</td>
                                    <td>{{user.books}}</td>
                                </tr>
                                <tr>
                                    <td>Heroes</td>
                                    <td>{{user.heroes}}</td>
                                </tr>
                            </table>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='update';">Edit</button>
                    </div>

                </div>

                <div class="col-8">


                    <form class="new-post-form">
                        {{!-- <div class="row">
                            <h3 class="centerText">make post</h3>
                        </div> --}}
                        <div class="post-section centerText">

                            <h3 class=>What's poppin?</h3>


                            <div class="row margin">
                                <input type="text" id="post_title" cols="30" rows="5" placeholder="Blog Title"></input>
                            </div>
                            <div class="row margin">
                                <textarea type="text" id="post_body" cols="30" rows="5"
                                    placeholder="Blog Post"></textarea>
                            </div>

                            <div class="row margin">
                                <button type='submit' class="btn">Post</button>
                                <br>
                            </div>
                        </div>
                    </form>
                    
                    <div class="card centerText">
                        <h3 class = "orangeTitle centerText">{{user.username}}'s blurbs</h3>

                    <div class="aboutStuff">

                        <h3> About {{user.first_name}}: {{user.about_me}}</h3>
                  

                    </div>
                     <div class="aboutStuff">

                        <h3>{{user.first_name}}'s interests: {{user.interests}}</h3>
                  

                    </div>
                    </div>
<div class="card centerText">
                    <div class="orangeTitle centerText">
                        <h3>Add a BackGround?!?!</h3>
                    </div>
                    {{!-- <div class="centerText">
                        <a href="#" onclick="changeBackground('tom-our-saviour.jpg')"><img id="pic" width="100" height="100"
                                src="assets/images/tom-our-saviour.jpg" alt=""></img></a>
                        <a href="#" onclick="changeBackground('kim-kardashian-paris-hilton-1509438612.jpg')"><img id="pic" width="100" height="100"
                                src="assets/images/kim-kardashian-paris-hilton-1509438612.jpg" alt=""></img></a>

                        <a href="#" onclick="changeBackground('full.jpg')"><img id="pic" width="100" height="50" src="assets/images/full.jpg"
                                alt=""></img></a>
                        <a href="#" onclick="changeBackground('back.jpeg')"><img id="pic" width="100" height="50" src="assets/images/back.jpeg"
                                alt=""></img></a>
                        <a href="#" onclick="changeBackground('heart.jpg')"><img id="pic" width="100" height="50" src="assets/images/heart.jpg"
                                alt=""></img></a>
                        <a href="#" onclick="changeBackground('default.jpg')"><img id="pic" width="100" height="50" src="assets/images/default.jpg" style="border: 1px solid black;"
                                alt=""></img></a>
                       
                       

                    </div> --}}

           <form action='/backgroundImage' method="POST" encType="multipart/form-data">
                <p>Select an image to set as your new background photo</p>
                <input type='file' name='file' accept='image/*'/>
                <button type='submit' class='btn btn-secondary'>Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
</div>
<div class ="card">
                    <h2 class="orangeTitle centerText"> Posts</h2>
                        <ol>
                            {{#each user.posts as |post|}}
                            <li class="post_section">
                                {{!-- <div class="row">
                                    <p class="post_title">{{post.title}}</p>
                                </div>
                                --}}

                                <div class="row">
                                    <a href="../post/{{post.id}}"> {{post.title}}<span>{{post.comments.length }}</span>
                                    </a>
                                </div>
                                <div class="row centerText">
                                    <p class="post_body "> {{post.body}}</p>
                                </div>
                                <button type="button" class='btn blue'
                                    onclick="window.location.href='../post/{{post.id}}';">Edit Post</button>
                            </li>
                            {{/each}}
                        </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/song.js"></script>
<script src="/assets/js/background.js"></script>
<script src="/assets/js/post.js"></script>
<script src="/assets/js/showText.js"></script>
<script src="/assets/js/update-profile.js"></script>
<script src="/assets/js/request.js"></script>