<div class="container">
  <form class="delete-post-form">
  <div class="post_area centerText">
    <h4>Post</h4>
    <div class="row post_section">
      <div class="row">
        <a href="../profile/{{post.user_id}}" class="post_username">{{post.username}}</a>
      </div>

      <div class="row">
        <p class="post_title">{{post.title}}</p>
      </div>

      <div class="row">
        <p class="post_body"> {{post.body}}</p>
      </div>

          <div class="row">
          <button type="button" class='btn red'>Delete Post</button>
          </div>

    </div>
    </form>
    <div class="row post_section">
     
      <ol>
      {{#each post.comments as |comment|}}
        <ul>
          <article class="post_area centerText">
            <div class="row">
              <a href= "../profile/{{comment.user_id}}" class="post_username">{{comment.username}}</a>
            </div>

            <div class="row">
              <p class="post_title">{{comment.comment_text}}</p>
            </div>
          </article>
        </ul>
      {{/each}}
      </ol>

      <form class="new-comment-form">
        <div class="row">
          <textarea id="comment_text" cols="30" rows="2"placeholder="Post a comment..."></textarea>
        </div>

        <div class="row">
          <button class="btn" id="{{post.id}}" type="submit">Submit</button>
        </div>
        </div>  
      </form> 
    </div>
  </div>
</div>

<script src="/assets/js/delete.js"></script>
<script src="/assets/js/comment.js"></script>
