<div class='container'>
    <div class='row'>
        <div class="col-4">
            <div class="prof-pic-section centerText">
                <div class="centerText">
                    <h3>{{user.first_name}} {{user.last_name}}<h3> 
                </div>

                <div>
                    <p>@{{user.username}}</p>
                </div>

                <img class="profPic" src="/assets/images/tom-our-saviour.jpg" alt=""></img>

                <div class="paragraph">
                    <a class ="smlbtn" href= "">pics</a>
                    <a class ="smlbtn" href= "">vids</a>
                </div>
            </div>
        </div>
            
        <div class="col-8">
            <div class="about-section centerText">
                <h4> Interests</h4>
                <div class="about-section centerText"> 
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ab nulla vel, quae natus temporibus veritatis dolore officia unde, tempora recusandae facere. Nihil eius tenetur libero culpa quos laudantium nostrum.
                    </p>
                </div>
            </div>
        </div>

        <div class="about-section centerText">
                <h4> About Me</h4>
                <div class="about-section centerText">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ab nulla vel, quae natus temporibus veritatis dolore officia unde, tempora recusandae facere. Nihil eius tenetur libero culpa quos laudantium nostrum.
                    </p>
                </div>
        </div>


        <div class="post-section centerText">
            <h2> Posts</h2>
            <ol>
                {{#each user.posts as |post|}}
                    <li class="post_section">
                    <div class="row">
                        <p class="post_username"></p>
                    </div>

                    <div class="row">
                        <p class="post_title">{{post.title}}</p>
                    </div>

                    <div class="row">
                        <p class="post_body"> {{post.body}}</p>
                    </div>

                    <div class="row">
                        <a href="./post/{{post.id}}">View <span>{{post.comments.length }}</span> Comment(s)</a>
                    </div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>