<container>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 center">



            <div class="update_area">

                <div class="row ">
                    <h3>About Me</h3>
                </div>


                <textarea type="text" id="about_me" cols="30" rows="5" placeholder="{{user.about_me}}"></textarea>



                <div class="row ">
                    <h3>General</h3>
                </div>


                <textarea type="text" id="general" cols="30" rows="5" placeholder="{{user.interests}}"></textarea>
                <br>
                <div class="row ">
                    <h3>Who I'd like to Meet</h3>
                </div>

                <textarea type="text" id="meet" cols="30" rows="5" placeholder="{{user.meet}}"></textarea>
                
                <div class="row ">
                    <h3>Music</h3>
                </div>

                <textarea type="text" id="music" cols="30" rows="5" placeholder="{{user.music}}"></textarea>
                <br>

                 <div class="row ">
                    <h3>Tv</h3>
                </div>

                <textarea type="text" id="tv" cols="30" rows="5" placeholder="{{user.tv}}"></textarea>
                <br>

                 <div class="row ">
                    <h3>Books</h3>
                </div>

                <textarea type="text" id="books" cols="30" rows="5" placeholder="{{user.books}}"></textarea>
                <br>

                 <div class="row ">
                    <h3>Heroes</h3>
                </div>

                <textarea type="text" id="hero" cols="30" rows="5" placeholder="{{user.heroes}}"></textarea>
                <br>

                
                <button type='submit' class="btn">Update Interests</button>
            </div>
        </div>
    </div>
</container>
<script src="/assets/js/update-info.js"></script>