 <div class="post_area">
                        {{!-- <form class="row about-me-form">
                            <div class="post-section centerText">
                                <div class="row">
                                    <h3>About Me</h3>
                                </div>

                                <div class="row margin">
                                    <textarea  type="text" id="about_me" cols="30" rows="5"
                                        placeholder="{{user.about_me}}"></textarea>
                                </div>
                                <p class="abtMe">{{user.about_me}}</p>
                                <div class="row margin">
                                    <button  type='submit' class="btn" id='aboutBtn'>Update About
                                        Me</button>

                                    <br>
                                </div>
                            </div>

                        </form> --}}

                        
                        {{!-- <form class="row interests-form">
                            <div class="post-section centerText">
                                <div class="row">
                                    <h3>Interests</h3>
                                </div>

                                <div class="row margin">
                                    <input type="text" id="interests" cols="30" rows="5"
                                        placeholder="{{user.interests}}"></input>
                                </div>

                                <div class="row margin">
                                    <button type='submit' class="btn">Update Interests</button>
                                    <br>
                                </div>
                            </div>
                        </form> --}}
                        <div class="row">
                                    <h3>About Me</h3>
                                </div>

                                <div class="row margin">
                                    <textarea  type="text" id="about_me" cols="30" rows="5"
                                        placeholder="{{user.about_me}}"></textarea>
                                </div>


                        <div class="row">
                                    <h3>Interests</h3>
                                </div>

                                <div class="row margin">
                                    <input type="text" id="interests" cols="30" rows="5"
                                        placeholder="{{user.interests}}"></input>
                                </div>
                         <button type='submit' class="btn">Update Interests</button>
                    </div>
                    

                    <script src="/assets/js/update-info.js"></script>